@charset "utf-8";

/* SPECIAL SOUTENANCE */
.codeIut {
	font-size:1.2em;
}
.codeIut .codeTitre1 { font-size:1.3em; margin:0; }
.codeIut .codeTitre2 { font-size:1.2em; margin:0; text-indent:100px; }
.codeIut .codeTitre3 { font-size:1.1em; margin:0; }


/********************************
*             Commun            *
********************************/
	body {
		margin:0;
		padding:0;
	}
	a img {
		border:0;
	}
	a:link, a:visited, a:active {
		color:#0a52a0;
		text-decoration:underline;
	}
	a:hover {
		color:black;
	}
	#header1 {
		background-image:url(header1.gif);
		background-repeat:no-repeat;
		width:1110px;
		height:85px;
		margin:0;
		padding:0;
	}
	#logoUM2 {
		margin-left:700px;
	}
	#corps {
		width:1110px;
	}
	#leftBar {
		float:left;
		width:240px;
		background-image:url(menu_back.gif);
		background-repeat:no-repeat;
	}
	#centre {
		float:left;
	}
	#titreBar {
		background-image:url(header2.gif);
		background-repeat:no-repeat;
		width:870px;
		height:45px;
		padding-top:10px;
	}
	#titre {
		text-align:center;
		background-image:url(titre.gif);
		background-repeat:no-repeat;
		width:515px;
		height:25px;
		margin-left:100px;
		padding-top:1px;
	}
	#contenu {
		margin-top:20px;
		width:720px;
		font-size:105%;
	}
	#arborescence {
		font-size:110%;
	}
	#infoConnexion {
		margin-top:60px;
		padding-left:5px;
		margin-right:80px;
		font-size:0.8em;
		text-align:center;
		height:80px;
	}
	#basMenu {
		margin-left:20px;
		margin-top:400px;
		margin-bottom:50px;
	}
	#lastModif {
		text-align:right;
		font-size:80%;
		margin-top:20px;
	}
	.fauxCentre {
		margin-left:200px;
	}
	.messages .info {
		border:2px solid green;
		color:green;
		background-color:#CCFFCC;
		font-weight:bold;
		margin-top:2px;
		margin-bottom:2px;
		text-align:center;
	}
	.messages .alerte {
		border:2px solid red;
		color:red;
		background-color:#FFCCCC;
		font-weight:bold;
		margin-top:2px;
		margin-bottom:2px;
		text-align:center;
	}
	.alerte {
		border:2px solid red;
		color:red;
		text-align:center;
		margin:10px;
		font-weight:bold;
	}
	.info {
		border:2px solid #009900;
		color:#009900;
		text-align:center;
		margin:10px;
	}
	.center, .centre {
		text-align:center;
	}


/*******************************
*        page recherche        *
*******************************/
	.resultRech {
		border:1px dashed #0a52a0;
		width:600px;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
	}
	.resultRech .titre {
		text-align:center;
		color:#FFFFFF;
		background-color:#0a52a0;
		font-weight:bold;
		border-bottom:1px dashed #0a52a0;
		height:22px;
	}
	.resultRech .extrait {
		height:100px;
		overflow:auto;
		padding:2px;
	}
	.resultRech .liens {
		font-size:80%;
		border-top:1px dashed #0a52a0;
		padding-left:20px;
	}
	

/*******************************
*   styles du menu droulant   *
*******************************/
	#menu {
		z-index:100;
		position:absolute;
		left:0;
		top:280px;
		width:160px;
		margin:0;
		padding:0;
		font-size:80%;
	}
	#menu ul {
		list-style-type:none;
		margin:0;
		padding:0;
	}
	#menu a {
		color:#01566b;
		font-weight:bold;
		text-decoration:none;
	}
	#menu li {
		width:160px;
		height:22px;
		text-align:center;
		display:block;
		padding-top:3px;
	}
	.normal, .survol {
		background-image:url(menu_item.gif);
		background-repeat:no-repeat;
		margin-bottom:2px;
	}
	.deroulant {
		background-image:url(menu_item_deroulant.gif);
	}
	.normal .normal, .normal .suvol, .survol .normal, .survol .survol {
		margin-bottom:0;
	}
	.normal li, .survol li {
		background-image:url(menu_item_survol.gif);
		background-repeat:no-repeat;
		width:160px;
		height:22px;
		text-align:center;
	}
	.normal .deroulant, .survol .deroulant {
		background-image:url(menu_item_survol_deroulant.gif);
	}
	.normal ul, .survol ul {
		width:160px;
		list-style-type:none;
		margin:0;
		padding:0;
	}
	.survol ul {
		display:block;
		position:relative;
		left:160px;
		top:-18px;
	}
	.normal ul {
		display:none;
	}
	
	.admin {
		background-image:url(menu_item_admin.gif);
	}
	.admin .admin {
		background-image:url(menu_item_survol_admin.gif);
	}
	.deroulantAdmin {
		background-image:url(menu_item_deroulant_admin.gif);
	}
	.admin .deroulantAdmin {
		background-image:url(menu_item_survol_deroulant_admin.gif);
	}



/*******************************
*        interface admin       *
*******************************/
	#adminMenu {
		list-style-type:none;
		margin-bottom:30px;
		text-align:center;
	}
	#adminMenu input {
		width:100px;
		margin-left:5px;
		margin-right:5px;
	}
	#adminContenu {
		clear:both;
		text-align:center;
	}
	#contenuAdmin {
		text-align:left;
		margin-top:20px;
		margin-bottom:20px;
		width:720px;
		border:1px dashed #0a52a0;
	}
	#boutonAdminCentrale {
		text-align:center;
		margin-bottom:5px;
	}
	#boutonAdminCentrale input {
		width:320px;
	}
	.button {
		margin-left:20px;
		margin-top:5px;
	}
	.menuPage {
		text-align:center;
		margin:5px 0 5px 0;
	}
	.module {
		border:1px dashed #0a52a0;
		width:600px;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
	}
	.module .titre {
		text-align:center;
		color:#FFFFFF;
		background-color:#0a52a0;
		font-weight:bold;
		border-bottom:1px dashed #0a52a0;
		height:22px;
	}
	.module .options {
		font-size:80%;
		border-top:1px dashed #0a52a0;
		padding-left:20px;
	}


/*******************************
* mise en page des formulaires *
*******************************/
	.titreChamp {
		width:100px;
		font-variant:small-caps;
		font-size:80%;
		float:left;
		text-align:center;
		margin-right:25px;
	}
	.champ {
		clear:both;
		margin-bottom:15px;
		margin-top:15px;
	}
	.champ .multiple {
		margin-left:125px;
	}
	.champ input, .champ textarea, .champ select {
		width:500px;
		color:#000000;
		border:1px solid #000000;
		padding:2px;
		background-color:transparent;
	}
	.titreChamp input {
		width:auto;
	}
	.champ option {
		background-color:#FFFFFF;
	}
	.champ textarea, .champLarge textarea {
		height:200px;
		background-color:transparent;
	}
	.champLarge {
		width:700px;
		text-align:center;
		margin-bottom:5px;
		margin-top:5px;
	}
	.champLarge input, .champLarge textarea {
		width:600px;
	}
	fieldset.cache {
		border:0;
	}
	select {
		z-index:0;
	}
	.special_import {
		font-variant:small-caps;
		font-size:80%;
		text-align:center;
	}
	
	
/*******************************
*             zCode            *
*******************************/
	.alinea {
		text-indent:20px;
		margin-top:10px;
		clear:both;
	}
	
	.codeGras {	font-weight:bold; }
	.codeItal {	font-style:italic; }
	.codeUnder { text-decoration:underline;	}
	.codeBarre { text-decoration:line-through; }
	
	.codeRouge { color:#cc0000; }
	.codeOrange { color:#cc6600; }
	.codeVert { color:#009900; }
	.codeBleu { color:#0e92e0; }
	.codeBleu2 { color:#0c72c0; }
	.codeGris { color:#666666; }
	.codeNoir { color:#000000; }
	.codeViolet { color:#990066; }
	
	.codeSerif { font-family:"Times New Roman", Times, serif; }
	.codeSansSerif { font-family:Verdana, Arial, Helvetica, sans-serif; }
	
	img.codeDroite { float:right;}
	img.codeGauche { float:left; }
	
	.codeCenter { text-align:center; }
	.codeGauche { text-align:left; }
	.codeDroite { text-align:right; }
	.codeJustifie { text-align:justify; }
	
	.codeTitre1 { font-size:2em; }
	.codeTitre2 { font-size:1.5em; }
	.codeTitre3 { font-size:1.2em; }
	
	.codeBorder { border:1px solid #0e92e0; padding:5px; }


/********************************
*     Panneau mise en forme    *
********************************/	
	.panneau_miseEnForme input, .panneau_miseEnForme select {
		width:auto;
		margin-bottom:2px;
	}
	.panneau_miseEnForme .bouton_petit {
		width:22px;
	}
	.panneau_miseEnForme .bouton_large {
		width:100px;
	}
	.panneau_miseEnForme {
		margin-left:125px;
	}
	
/********************************
*             Module Emplois            *
********************************/
	.offre_emploi {
		border:1px dashed #0a52a0;
		width:600px;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
		padding:0;
	}
	.offre_emploi .titre {
		text-align:center;
		color:#FFFFFF;
		background-color:#0a52a0;
		font-weight:bold;
		border-bottom:1px dashed #0a52a0;
		height:22px;
	}
	.offre_emploi .infos {
		border-bottom:1px dashed #0a52a0;
		height:100px;
		overflow:auto;
	}
	.offre_emploi .infos .entreprise {
		width:300px;
		float:left;
		text-align:center;
		border-right:1px dashed #0a52a0;
	}
	.offre_emploi .infos .contact {
		margin-left:300px;
		text-align:center;
	}
	.offre_emploi .details {
		height:100px;
		overflow:auto;
		padding:2px;
	}
	.offre_emploi .icones {
		text-align:center;
		padding:0;
		border-top:1px dashed #0a52a0;
	}
	

/********************************
*             Module News            *
********************************/
	.pagenbr {
		text-align:center;
		border:1px dashed #0a52a0;
		margin-top:10px;
		margin-bottom:10px;
		background-color:#e2ecfe;
	}
	.news {
		border:1px dashed #0a52a0;
		width:600px;
		margin-top:20px;
		margin-left:auto;
		margin-right:auto;
	}
	.news .titre {
		text-align:center;
		color:#FFFFFF;
		background-color:#0a52a0;
		font-weight:bold;
		border-bottom:1px dashed #0a52a0;
		height:22px;
	}
	.news .corps {
		padding-left:5px;
		padding-right:5px;
	}
	.news .options {
		background-color:transparent;
		float:left;
		margin-left:50px;
	}
	.news .date {
		font-size:80%;
		padding-right:20px;
		text-align:right;
	}
	
	
/*******************************
*   Droits   *
*******************************/
	#listeDroits {
		position:relative;
		top:30px;
		border:1px solid black;
		margin:auto;
	}
	#listeDroits td, #listeDroits th {
		border:1px solid black;
		text-align:center;
		vertical-align:middle;
	}
	#listeDroits .droit {
		width:200px;
	}
	#listeDroits .description {
		width:500px;
	}
	#listeDroits .options {
		width:50px;
	}
	
	#lienProfilsDroits {
		text-align:center;
		width:750px;
		margin:auto;
		margin-bottom:10px;
	}
	#lienProfilsDroits .divBoutons {
		padding-top:60px;
	}
	#lienProfilsDroits div{
		float:left;
		margin-left:10px;
		margin-right:10px;
		vertical-align:middle;
	}
	#lienProfilsDroits .listeDroits {
		width:300px;
		height:300px;
	}
	#lienProfilsDroits input {
		width:30px;
	}
	#lienDroitsProfilsBoutons input {
		width:200px;
		margin-left:20px;
		margin-right:20px;
	}
	#lienDroitsProfilsBoutons {
		text-align:center;
	}


/*******************************
*   Utilisateurs   *
*******************************/
	#listeUtilisateurs {
		border:1px solid black;
		margin:auto;
		margin-top:10px;
	}
	#listeUtilisateurs td, #listeUtilisateurs th {
		border:1px solid black;
		text-align:center;
		vertical-align:middle;
	}
	#listeUtilisateurs .nom, #listeUtilisateurs .prenom {
		width:150px;
	}
	#listeUtilisateurs .groupe {
		width:250px;
		font-size:0.8em;
	}
	#listeUtilisateurs th.groupe {
		font-size:1em;
	}
	#listeUtilisateurs .options {
		width:50px;
	}
	.optionsBasUtilisateurs {
		margin-left:70px;
		margin-top:2px;
	}
	
	
/***********
***********/
	#anneesScolairesListe {
		position:relative;
		top:30px;
	}
	#anneesScolairesListe td {
		text-align:center;
	}
	#anneesScolairesListe, #anneesScolairesListe th, #anneesScolairesListe td {
		margin:auto;
		border:1px solid black;
	}
	#anneesScolairesListe .titre {
		width:200px;
	}
	#anneesScolairesListe .options {
	}
	
	
/***********
***********/
#affichageUtilisateur {
	margin-top:20px;
}

#affichageUtilisateur .titre {
	text-align:center;
	font-size:1.2em;
	font-weight:bold;
	color:#FFFFFF;
	background-color:#000000;
}

#dataPerso {
	border:1px solid black;
	clear:both;
}
#dataPerso .photo {
	width:150px;
}
#dataPerso th {
	vertical-align:top;
	width:150px;
}
#dataPerso td {
	vertical-align:top;
}
#dataPerso img {
	border:1px solid black;
	margin:0;
}

#dataAdmin {
	border:1px solid black;
	margin-right:220px;
	margin-bottom:20px;
}
#dataAdmin th {
	width:200px;
	vertical-align:top;
}
#dataAdmin ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

#dataProfils {
	border:1px solid black;
	width:200px;
	float:right;
}
#dataProfils table {
	margin:auto;
}
#dataProfils form {
	margin:0;
}
#dataProfils select {
	width:100px;
	margin:0;
}
#dataProfils input {
	width:50px;
	margin:0;
}
